# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages that Data Scientists use.
- List commonly used libraries in Data Science.
- List data science tools.
- Write a simple arithmetic expression.
- write Python code to convert minutes to hours.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. Matplotlib
4. NumPy

|Data Science Tools|
--------------------
|Jupyter notebook|
|R studio        |
|Tensor flow     |

### Below are a few examples evaluating arithmetic expressions in Python

In [4]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

##Author  
Maria Chamilaki